APP_NAME=hyperf-socket-chat
APP_ENV=dev

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0
QUEUE_REDIS_DB=5

#JWT_SECRET值必须与kserver中的此配置值相同，否则长连接握手鉴权不成功
JWT_SECRET = WQ14SIU1vceM3q0pN8mSVRs0YF4hywl